<div class="form">
  <div class="banner"><h1 class="bannerHead">Groups</h1></div>

    <div class="formBackground">
      <div class="fill"></div>
      <div class="buffer">

        <% if @current_user.group_id.nil? %>
          <% @groups.each do |group| %>
            <div class="group_box">


                <%= group.name %>

            </div>
          <% end %>
        <% else %>
          <%= link_to groups_members_path(:id=>@group.id) do %>
            <div class="group_box">
              <%= @group.name%>
            </div>
          <% end %>
        <% end %>

        <!-- <%= form_for @groups do |f| %>
          <%= f.submit 'Leave Group' %>
        <% end %> -->

      </div>
    </div>
  </div>
</div>
